<div class="faq-container">
    <h2>P: ¿Está completo el Hack Rom?</h2>
    <p>R: Si, esta completo por el momento. Es incierto si recibirá actualizaciones y si las recibe serán retrocompatibles con tu último guardado de por momento.</p>
    <h2>P: ¿Qué emulador puedo utilizar?</h2>
    <p>R: Puedes utilizar los siguientes emuladores: </p>
    <ul>
        <li><a href="https://play.google.com/store/apps/details?id=com.fastemulator.gba&hl=es_419">MyBoy! - GBA Emulator (Android)</a></li>
        <br>
        <li><a href="https://www.vbalink.info/download/vbalink180b.zip">VBALink (Windows)</a></li>
        <br>
        <li><a href="https://github.com/OpenEmu/OpenEmu/releases/download/v2.2.1/OpenEmu_2.2.1.zip">OpenEmu (MacOS)</a></li>
    </ul>
    <h2>P: ¿Puedo jugar con amigos usando MyBoy y haciendo link con Bluetooth o Wi-Fi?</h2>
    <p>R: En principio debería funcionar pero no he recibido ningun reporte que lo confirme o niege todavía ni he podido probarlo.</p>
    <h2>P: ¿Tiene separación Físico/Especial como en la Gen IV+?</h2>
    <p>R: En principio el juego esta equilibrado y diseñado para jugar con el sistema de categoría de ataque viejo de la Gen III. Sin embargo, en la carpeta "Fisico-Especial" que viene con el juego hay un Hack Rom cortesía de Ignacio Blanco que traduce los ataques al español y les aplica la separación de categoría de movimientos en Físico/Especial igual que en los juegos más recientes.</p>
    <h2>P: ¿Está en español?</h2>
    <p>R: No. El juego está en inglés. Pero en la carpeta "Fisico-Especial" que viene con el juego que viene con el juego hay una versión cortesía de Ignacio Blanco que traduce los movimientos al español y les aplica la separación de categoría de ataques en Físico/Especial igual que en los juegos más recientes.</p>
    <h2>P: Los Pokémon que evolucionaban por intercambio ahora lo hacen por nivel?</h2>
    <p>R: Algunos por nivel, otros mediante objetos. Puntualmente: </p>
    <ul>
        <li>Alakazam (32)</li>
        <li>Machamp (36)</li>
        <li>Golem (36)</li>
        <li>Gengar (36)</li>
        <li>Steelix (Moon Stone)</li>
        <li>Kingdra (Water Stone)</li>
    </ul>
</div>
